<ul class="heroes">
  <small>
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" >
      <span class="badge">{{hero.id}}</span> {{hero.name}} 
    </li>
    <li (click)="zerar()">
      <span class="badge">00</span>
      <strong>Zerar</strong>
    </li>
    
  </small>
</ul>
<h2>Descrição:</h2>
<div *ngIf="hero">
  <app-hero-detail [hero]="hero"></app-hero-detail>
</div>

<div *ngIf="!hero">
    <p>Clique em um nome</p>
  </div>

